@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
    background-image: url(../img/wall2.gif)
}

.funnyMem {
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    height: 100px;
    width: 100px;
    z-index: 9999;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.backgroundMem {
    background: #212121;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 8px;
    border-radius: 3px;
    position: absolute;
    margin-bottom: 10px;
    bottom: 100%;
    left: 0;
    width: 100%;
}