@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
body {
	background: #EDEDED ;
}
	
.main-container {
	background-color: white;
	margin-top: 120px;
	padding: 40px;
}
.head{
	font-family: 'Source Sans Pro', sans-serif;
	/*background:
			linear-gradient(
					rgba(0, 0, 0, 0.5),
					rgba(0, 0, 0, 0.5)
			);*/

	background-color: black;
);
	background-size: cover;
	height: 100vh;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}
h1 {
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	font-size: 6rem;
	white-space: nowrap;
}
h4{
	text-transform: uppercase;
	margin: 0;
	font-weight: 200;
	font-size: 1.5rem;
	white-space: nowrap;
	opacity: 0.8;
	letter-spacing: 3px;
}
a {
	margin: 0;
	font-size: 1.3rem;
}
.rowMain{
	white-space: nowrap;
}
.cool p{
	font-size: 1.5rem;
	letter-spacing: 1px;
}
.cool img{
	width:150px;
	height: 100px;
}

@media screen and (min-width: 960px){
	.mainLayout{
		margin-left: 200px;
	}
	.mainLayout2{
		margin-right: 200px;
	}
}
.button{
	color: black;
}
#header {
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 60px;
	font-weight: 200;
	letter-spacing: -2px;
	margin-top:-100px;
}
#dottedline{
	text-align: center;
	border-bottom: thick dotted #EDEDED;
	box-sizing: border-box;
}

#header > span {
	font-size: 30px;
	color: black;	
	font-weight: 700;
    text-transform: uppercase;
}

sub, sup {
	font-size: 65%;
	color: grey; 
	letter-spacing: 3px;
	white-space:nowrap;
}

#b {
	color: black;
	font-size: 70%;
	text-shadow: 0 0 0.5px grey;
	letter-spacing: -0.5px;
        white-space:nowrap;
}

#image{
	background: url("../img/ada1.jpg");
	background-size: cover;
	height: 170px;
	width: 170px;
	position: relative;
	border-radius: 100%;
	border:7px solid  #EDEDED ;
	margin-top: -100px;
}

.redheader{
	font-size: 17px;
	color: black;	
	opacity: 0.5;
	//color: #993300;
        color: #080808;
	text-shadow: 0 0 1px grey;
}

.section{
	font-size: 13px;
	color: black;
	font-weight: 400;
	padding: 0px 40px 0px 40px;
}


#icons img{
	width: 30px;
	height:30px;
	float: left;
	margin-left: -30px;
	margin-top: 17px;
 }
 
 #icons div{
	 margin-top: 17px;
	 text-align: left;
	 opacity: 0.7;
	 font-weight: 600;
 }
 
#icons sup{
    margin-top: 17px;
    font-size: 75%;
	color: grey; 
	letter-spacing: 1px;
	white-space:nowrap;
}
.projects{
	background-size: cover;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.cross{
	background-image: url("../img/cross2.png");
	width: 599px;
	height: 380px;
	background-size: cover;
}
.dianaL{
	float: left;
}
.levels  span {
	margin-right: 2%;
	float: right;
	opacity: 0.5;
	color:red;
	font-size: 1.2em;
	margin-top:3%;
}

.levels div{
	font-size: 0.9em;
	margin: 8px -40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEE;
	 line-height:40px;
	padding-left: 20px;
}

table td,tr {
	padding-left: 20px;
	padding-top:5px;
	border: 10px solid white;
	border-collapse: collapse;
}

.info {
	background: #EEE;
}

table span{
    color: black;
	font-size: 1.2em;
	font-weight: bold;
	opacity:0.7;
	letter-spacing:1px;
}
.skills{
    background: url("../img/skills2.png");
	background-size: cover;
	height: 300px;
	width: 500px;
	position: relative;
        top: 20px;
	
}
.turbo{
	display: inline;
	position: relative;
	font: 13px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	color: rgb(255, 0, 255);
}
.turbo:after {
	content: " TURBO CRAZY ";
	position: absolute;
	right:-1px;
	letter-spacing: -1px;
	color: rgba(255,0,0,0.5);
	animation: blink 6s infinite;
}
.c{
    display: inline;
    position: relative;
    font: 17px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgba(0,0,255,0.5);
}

.c:after {
    content: " Front-End Web Developer.";
    position: absolute;
    right:-2px;
    letter-spacing: -1px;
    color: rgba(255,0,0,0.5);  
    animation: blink 6s infinite;
}


.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }


